spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      routes:
      - id: service1
        #uri: http://localhost:8080/
        uri: lb://service1
        predicates:
        - Path=/helloservice1/**
#        filters:
#        - MyCustomFilter
      - id: service2
        #uri: http://localhost:8081/
        uri: lb://service2
        predicates:
        - Path=/helloservice2/**  
          
#        filters:
#        - MyCustomFilter  